<footer id="footer">
    <div class="footer-div">
        <ul class="contact-links flex-evenly">
            <li><i class="fab fa-instagram contacts" id="instagram"></i></li>
            <li><i class="fab fa-facebook-f contacts" id="facebook"></i></li>
            <li><i class="fab fa-youtube contacts" id="youtube"></i></li>
            <li><i class="fab fa-tiktok"></i></li>
            <li><i class="fab fa-twitter"></i></li>
        </ul>

        <h3 class="footer-heading">
            GROWTHADEMY
        </h3>

        <p class="copywright">All Rights Reserved</p>
    </div>
</footer>