<header>
    <nav>
        <div class="navbar">
        <div class="logo">
            <img src="/images/logo/logo_1.jpg" alt="growthademy logo" class="logo_image">
        </div>

        <ul class="nav-links flex-evenly">
            <li class="links selected" id="home_link"><a href="/">Home</a></li>
            <li class="links" id="articles_link"><a href="/articles">Articles</a></li>
            <li class="links" id="videos_link"><a href="/videos">Videos</a></li>
            <li class="links" id="audios_link"><a href="/audios">Audios</a></li>
        </ul>

        <ul class="contact-links flex-evenly">
            <li><i class="fab fa-instagram contacts" id="instagram"></i></li>
            <li><i class="fab fa-facebook-f contacts" id="facebook"></i></li>
            <li><i class="fab fa-youtube contacts" id="youtube"></i></li>
            <li><i class="fab fa-tiktok"></i></li>
            <li><i class="fab fa-twitter"></i></li>
        </ul>
        

        <!-- Hamburger for smaller screens only -->
        <!-- <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div> -->
        </div>
    </nav>
</header>