<section id="selection-bar">
    <h2 class="heading"><%= navSelectTitle %></h2>
    <div class="options">
        <li class="select-options selected-option" id="all">All</li>
        <li class="select-options" id="latest">Latest</li>
        <li class="select-options" id="featured">Featured</li>
        <li class="select-options" id="media">Media</li>
        <li class="select-options" id="tech">tech</li>
    </div>
</section>