* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 25%;
  margin: 12% auto;
}

.article-card {
  width: 100%;
  background: #fcfcf9;
  box-shadow: 6px 7px 16px rgba(0, 0, 0, 0.25);
  border-radius: 1.3em;
  padding: 1.5em;
}

.article-title {
  font-style: bold;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 0.25em;
}

.article-date {
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  color: #000000b2;
  margin-bottom: 0.4em;
}

.article-body {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-bottom: 1em;
}

.article-button {
  font-size: 1rem;
  width: 60%;
  margin: 0 auto;
  background: rgba(38, 38, 36, 0.68);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25em 0;
  cursor: pointer;
}

.article-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  color: #fdf3f3;
}
