* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f1f0ad;
  font-family: Montserrat;
}

/* Default sections of the page to be 90% of the total width */
section {
  width: 90%;
  max-width: 1050px;
  margin: auto;
}

/* Top Section starts */

#about-page {
  margin-top: 1em;
  /* height: 74vh; */
}

.about-page-container {
  position: relative;
  width: 85%;
  margin: 0 auto;
  /* height: 100%; */
  min-height: 660px;
}

.firstimg-div {
  position: absolute;
  border: 0.25em solid #514f42;
  height: 70%;
  width: 40%;
  top: 52%;
  left: 5%;
  transform: translateY(-50%);
}

.first-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.borderbox {
  position: absolute;
  top: 8%;
  right: 13%;
  width: 55%;
  /* height: 75%; */
  min-height: 465px;
  border: 0.75em solid #514f42;
  z-index: -1;
  padding-top: 2.5em;
  padding-right: 2%;
  display: flex;
  justify-content: flex-end;
}

.channel-content {
  /* text-align: left; */
  width: 70%;
  height: 85%;
  /* float: right; */
}

.channel-title {
  font-size: 2rem;
  margin-bottom: 0.5em;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
}

.channel-content-body {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.15em;
  /* letter-spacing: 0.185em; */
}

/* Top Section Ends */

#top_svg {
  position: absolute;
  top: 45%;
  /* width: 100%; */
  width: 100vw;
  opacity: 0.85;
  z-index: -2;
}

/* About Me Section starts */

#about-me {
  margin: 2.5em auto;
}

.about-me-container {
  min-height: 400px;
}

.about-me-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5em;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
}

.about-me-content {
  font-size: 1.55rem;
  width: 75%;
  margin: auto;
  margin-top: 1%;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.185em;
  text-align: center;
}
/* About Me Section ends */

/* Middle Svg */
#middle_svg {
  position: absolute;
  top: 153vh;
  left: 0%;
  width: 41%;
  opacity: 0.85;
  z-index: -2;
}

/* My Mission Section starts */
#my-mission {
  /* border: 1px solid red; */
  height: 74vh;
}

.my-mission-container {
  position: relative;
  width: 85%;
  margin: auto;
  height: 100%;
}

.secondimg-div {
  position: absolute;
  border: 0.25em solid #514f42;
  height: 70%;
  width: 35%;
  top: 47%;
  right: 10%;
  transform: translateY(-50%);
}

.second-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-mission-borderbox {
  position: absolute;
  top: 21%;
  left: 13%;
  width: 55%;
  height: 75%;
  border: 0.75em solid #514f42;
  z-index: -1;
  padding-left: 2%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.my-mission-content {
  font-size: 48px;
  letter-spacing: 0.06em;
  text-align: left;
  width: 70%;
  height: 90%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.my-mission-title {
  height: 15%;
  font-size: 0.55em;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}

.my-mission-content-body {
  height: 80%;
  font-size: 0.55em;
  font-style: normal;
  font-weight: 500;
  line-height: 0.8em;
  letter-spacing: 0.155em;
}

/* My Mission Section ends */

/* Bottom SVG */
#bottom_svg {
  position: absolute;
  top: 205%;
  left: 0%;
  width: 100vw;
  opacity: 0.85;
  z-index: -2;
}

/* Clickables section starts*/

#clickables {
  /* border: 1px solid red; */
  height: 70vh;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.clickables-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.clickable-div {
  position: relative;
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.clickable-borderbox {
  position: absolute;
  top: 6%;
  left: 0%;
  width: 80%;
  height: 80%;
  border: 0.75rem solid #514f42;
  z-index: -1;
  opacity: 0.8;
}

.click-imgdiv {
  width: 80%;
  height: 80%;
}

.click-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.click-heading {
  display: inline;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 800;
  font-size: 2.25rem;
  letter-spacing: 0.105em;
  text-transform: uppercase;
}

#article-heading {
  background: linear-gradient(270.02deg, #922423 5.58%, #202c3c 117.11%);
}

#audio-heading {
  background: #eedadb;
}

#video-heading {
  background: linear-gradient(90.04deg, #37b84c -10.61%, #d9d9d9 110.59%);
}

#article-heading,
#audio-heading,
#video-heading {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
/* Clickables section ends*/
